<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    >
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
    <testsuites>
        <testsuite name="GeekCache test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>slowTests</group>
        </exclude>
    </groups>
</phpunit>
