<phpunit
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    stopOnFailure="true" stopOnError="true"
    stopOnDeprecation="true"
    displayDetailsOnPhpunitDeprecations="true"
>
    <testsuites>
        <testsuite name="GeekCache test suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>slowTests</group>
        </exclude>
    </groups>
</phpunit>
